{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <h1 style="font-size: 36px;">Following Posts</h1><hr>

        {% for post in posts %}
            <div class="posts" style="position: relative;">
                <a href="{% url 'network:profile' post.user %}">{{ post.user }}</a>
                <p>{{ post.content }}</p>
                <p>{{ post.date }}</p>
                <p><span class="post-likes">{{ post.likes.all.count }}</span> Likes</p>

                {% if user in post.likes.all %}
                    <input class="btn btn-primary likeBtn" type="submit" value="Unlike" style="border-radius: 16px;">
                {% else %}
                    <input class="btn btn-primary likeBtn" type="submit" value="Like" style="border-radius: 16px;">
                {% endif %}

                <input type="hidden" class="post-id" value="{{ post.id }}">
            </div>
        {% endfor %}

        <nav aria-label="Posts navigation" style="margin-top: 20px;">
            <ul class="pagination justify-content-center">
                {% if has_prev %}
                    <li class="page-item"><a class="page-link" href="{{ prev_num }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Previous</a></li>
                {% endif %}
                {% for i in p.page_range %}
                    <li class="page-item"><a class="page-link" href="\following/{{i}}">{{i}}</a></li>
                {% endfor %}
                {% if has_next %}
                    <li class="page-item"><a class="page-link" href="{{ next_num }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Next</a></li>
                {% endif %}
            </ul>
        </nav>

    {% endif %}
    <script src="{% static 'network/inde.js' %}"></script>
{% endblock %}